*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(247,247,247);
}
nav ul {
    overflow: hidden;
    background-color: rgb(255,255,255);
    padding: 20px;

}
nav ul li{
    float: left;
    
    
}
nav li a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: rgba(153, 8, 8, 0.315);
    
    
}
nav input {
    height: 60px;
    width: 400px;
    padding: 20px;
    border-radius: 29px;
    position: relative;
    left: 30px;
   
}
nav input:focus {
    border: 10px;
}
nav .headd {
    color: rgb(216,35,35);
    font-family: 'Times New Roman';
    font-size: larger;
}
nav .searchhh {
    color: rgb(24, 23, 23);
    position: relative;
    left: 70px;
    top: 10px;
}
nav .cartt{
    color: rgb(24, 23, 23);
    font-family: 'Times New Roman';
    position: relative;
    left: 100px;
    top: 10px;
}
nav .signn {
    color: rgb(24, 23, 23);
    font-family: 'Times New Roman';
    position: relative;
    left: 130px;
    top: 10px;
}
nav .locate {
    color: rgb(24, 23, 23);
    font-family: 'Times New Roman';
    position: relative;
    left: 160px;
    top: 10px;
}
nav .boxx {
    color: rgb(255, 255, 255);
    background-color: rgb(216,35,35);
    font-family: 'Times New Roman';
    position: relative;
    left: -420px;
    top: 10px;
}


#sidenav ul {
    list-style-type: none;
  margin: 0;
  padding: 20px;
  width: 300px;
  background-color: rgb(255,255,255);
  position: relative;
  left: 50px;
}
#sidenav p {
    text-align: center;
    border-bottom: 1px solid rgb(190, 190, 190);
}
#sidenav li a {
    display: block;
  color: rgb(0, 0, 0);
  padding: 19px 19px;
  text-decoration: none;
  
}
#sidenav li {
    
}

#sidenav li a:hover {
        background-color: rgb(216,35,35);
        color: white;
}
#firstimg {
    padding: 18px;
    margin: 5px;
    float: right;
    position: relative;
    top: -487px;
    right: 172px;
}
#secondimg {
    margin: 5px;
    float: right;
    position: relative;
    top: -487px;
    left: 840px;
}
.headcontents {
    background-color: rgb(216,35,35);
    
    padding: 30px;
    width: 50%;
    color: azure;
    position: relative;
    left: 30%;

}
.headcontents h2 {
    text-align: center;
    position: relative;
    left: 170px;

}

.phonecart{
padding: 20px;
float: left;
position: absolute;
top: ;
left: 65px;
background-color: rgb(255,255,255);
box-sizing: border-box;
}

div.gallery {
    margin: 10px;
    padding: 1px;
    border: 1px solid #ccc;
    float: left;
    width: 216px;
    transition: box-shadow 1s;
    box-sizing: border-box;
}

div.gallery:hover {
    ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cart  {
    text-decoration: none;
    text-align: center;
    color: rgb(228, 228, 228);
    padding: 30px;
    width: 90px;
    
}
div.gallery p {
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 3px;
}
  div.desc  {
    margin: 20px;
    text-align: center;
    position: relative;
    z-index: 1;
  }
  .desc:hover a {
    color: azure;
    background-color: rgb(216,35,35);
  }  
  .desc a {
    text-decoration: none;
    color: rgb(216,35,35);
    border: 1px solid rgb(216,35,35);
    padding: 10px;
    width: 70px;
    height: 20px;
  }
  .cart {
    padding: 15px;
  }
  .viewmore a {
    text-align: center;
    text-decoration: none;
    color: #777;
    font-size: large;
    font-family: serif;
    padding: 5px;
    margin-top: 10px;
    position: relative;
    left: 50%;
  }
.secondgroup {
    position: relative;
    top: 750px;
}
.thirdgroup {
    position: relative;
    top: 1500px;
}
.fourthgroup {
    position: relative;
    top: 2250px;
}
.fourthgroup h2 {
    text-align: center;
    position: relative;
    left: 10px;
}
#footer {
    position: absolute;
    top: 4250px;
    background-color: rgb(255,255,255);
    width: 1349px;
    height: 280px;
    
}
.payment {
    margin: 20px;
    color: rgb(120,124,128);
    font-family: Tahoma;
}
.about {
    position: absolute;
    left: 489px;
    top: 25px;
    border-left: 1px solid rgb(237,237,237);
    padding: 10px;   
}
.about ul{
    list-style: none;
    
    
}
.about li {
    padding: 7px;
}
.about li a {
    text-decoration: none;
    color: rgb(75, 69, 69);
    font-family: sans-serif;
}
.contact {
    position: absolute;
    left: 930px;
    top: 39px;
    border-left: 1px solid rgb(237,237,237);
}
.contact ul {
    list-style: none;
}
.contact li {
    padding: 7px;
    float: left;
}
.contact li a {
    text-decoration: none;
    color: rgb(75, 69, 69);
    font-family: sans-serif;
}
.contact li a:hover {
    color: rgb(114,37,37);
}
.social {
    position: absolute;
    left: 970px;
    top: 239px;
}
.social ul {
    list-style: none;
}
.social li {
    padding: 7px;
    float: left;
}
.social li a {
    text-decoration: none;
    color: rgb(75, 69, 69);;
}
.close {
    padding: 15px;
    position: absolute;
    top: 240px;
    color: rgb(120,124,128);
    font-family: Tahoma;
}